#tab-header{
    margin-bottom: 7px;
}
#tab-header .navbar-toggle {
    background: #999;
    padding: 8px 7px;
    margin: 10px;
}
#tab-header .navbar-toggle .icon-bar {
    background: white;
}
#tab-header ul{
    background: white;
}
                                      